### Python Revision

In [97]:
a="Hello this is my string slicing trial"
a

'Hello this is my string slicing trial'

In [98]:
a[:-10]

'Hello this is my string sli'

### Arithmetic Operations in Python
addition +
subtraction -
multiplication *
float division /-------includes decimal part
integer division //-------discard the decimal part
modulo %-------gives remainder
power **------^

In [99]:
a[-10:-4]

'cing t'

In [100]:
b=a.upper()
b

'HELLO THIS IS MY STRING SLICING TRIAL'

In [101]:
a.title()

'Hello This Is My String Slicing Trial'

In [19]:
c="Tamanna  "
c

'Tamanna  '

In [20]:
c.strip()

'Tamanna'

In [21]:
a.replace(" ","")

'Hellothisismystringslicingtrial'

In [24]:
ctc=15
text="My ctc is "
text+ str(ctc)

'My ctc is 15'

In [27]:
text1="My ctc is {} lpa and in hand is {} per month".format(ctc,ctc/12)
text1

'My ctc is 15 lpa and in hand is 1.25 per month'

List 
-> represented by--[]
-> ordered items
-> mutable
-> allows duplicate values
1. type()
2. =  //assignment
3. len()
4. append() or +
5. extend()
6. remove(element)----- for known value from the list
7. pop(index)----- for unknown value
8. sort()----for reverse we use----sort(reverse=True) //string chracters come first alphabetical order wise in sort()

In [38]:
a=[3, 2,True,False,14,]
a

[3, 2, True, False, 14]

In [39]:
a.sort()
a

[False, True, 2, 3, 14]

In [33]:
a.sort(reverse=True)
a

[14, 3, 2, True, False]

Tuple
-> represented by--()
-> ordered items
-> immutable
-> allows duplicate values
1. type()
2. len()
3. can be converted to list by using list() and various functions of list can then be performed for mutable uses
4. arithmetic operations on tuples---+------//adds 2 tuples-----*------//increases the occurence of a tuple

In [41]:
a=(1,4,True,12)
len(a)

4

In [45]:
b=(2,3,False)
a+b

(1, 4, True, 12, 2, 3, False)

In [47]:
b*3

(2, 3, False, 2, 3, False, 2, 3, False)

Set
-> represented by--{}
-> immutable----add and remove is allowed by changing values is not allowed
-> unordered----cannot be accessed using index
-> does not allow duplicate values
1. type()
2. len()
3. remove()
4. add()
5. update()----updates values of one set into another and if similar values occur, it removes the duplicates
6. intersection()----to find common values from 2 sets
7. symmetric_difference()------uncommon values from 2 sets
8. a-b removes all the values of b from a if present and gives the a set-----can also return an empty set if a has no other value left
9. can be converted to list by using list() and various functions of list can then be performed for mutable uses

In [48]:
a={1, 2, 3, "apple","cherry"}
a

{1, 2, 3, 'apple', 'cherry'}

In [49]:
a.add(12)
a

{1, 12, 2, 3, 'apple', 'cherry'}

In [50]:
b={"apple", "mango", 12}
b

{12, 'apple', 'mango'}

In [52]:
a.update(b)
a

{1, 12, 2, 3, 'apple', 'cherry', 'mango'}

In [56]:
c=list(a)
c

[1, 2, 3, 'mango', 'cherry', 12, 'apple']

Dictionary
-> represented by--{}
-> immutable
-> stores data in key and value manner-----{"key":"value"}
-> ordered datatype----access using key-----a["key"]
-> do not allow duplicates for key
1. type()
2. = assigns a different value for the key
3. keys()--------gets all the keys of the dictionary
4. values()--------gets all the values of the dictionary
5. pop(key)-----pops the value for that particular key, can also pass a parameter like pop(key,0), if the key is not found it returns 0
6. popitem()------last added item will be removed
7. update()---add a new key and value-----can also update a dictionary inside dictionary by a.update({'b':b})
8. copy()----for copying the dictionary

In [76]:
a={'one':1,'two':2,'three':3,'four':1}
a

{'one': 1, 'two': 2, 'three': 3, 'four': 1}

In [77]:
a['four']

1

In [78]:
a.values()

dict_values([1, 2, 3, 1])

In [79]:
b={'five':5,'six':6}
b

{'five': 5, 'six': 6}

In [80]:
a.update({'b':b})

In [81]:
a

{'one': 1, 'two': 2, 'three': 3, 'four': 1, 'b': {'five': 5, 'six': 6}}

In [82]:
a['b']

{'five': 5, 'six': 6}

### if elif and else

In [88]:
a=12
if a<12:
    print('a is a small number')
elif (a>=12) & (a<20):
    print('a is a medium number')
else:
    print('a is a large number')

a is a medium number

### While loop
#### Till the while loop is true then implement the code inside the loop once the loop if false then exit the loop
#### break------exits the loop
#### continue-----skips the next lines of code and again go to the while loop

In [92]:
a=6
while(a>0):
    print(a)
    a=a-1
    if(a<3):
        break

6
5
4
3

### For loop

In [1]:
fruits = ["Apple", "Banana", "Cherry"]  

for fruit in fruits:  
    print(fruit)

Apple
Banana
Cherry

In [1]:
for n in range(1, 6):  
    if number == 3:  
        break  # Stop the loop when number is 3
    print(number)

Apple
Banana
Cherry

In [1]:
fruits = ["Apple", "Banana", "Cherry"]  

for fruit in fruits:  
    print(fruit)

Apple
Banana
Cherry

### Functions
#### def function_name(parameter):---------------takes one parameter
#### def function_name(para1, para2):---------------takes 2 parameter
#### def function_name(*parameter):---------------takes any no. of parameters used when we dont know how many to use
#### def function_name(**parameter):---------------takes keys and values as input for a dictionary

In [93]:
def print_info(**para):
        print(para)
print_info(name="Alice", age=25, city="New York")

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [95]:
import datetime
import time
print(dir(datetime))

['MAXYEAR', 'MINYEAR', 'UTC', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

In [96]:
datetime.datetime.now()

datetime.datetime(2025, 2, 19, 16, 50, 1, 945164)

In [ ]:
datetime.datetime.now()

In [ ]:
from datetime import datetime, date, time